.container{
  padding: 10px;
}

.card{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;

  &__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    &--picture{
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__info{
    font-weight: 600;
    text-transform: capitalize;

    & span{
      font-weight: 500;
    }
  }

  &__picture{
    width: 70%;
  }

  &__title{
    font-size: 1.6em;
    text-align: center;
    text-transform: capitalize;
  }
}