.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__info{
    padding: 5px;

    font-weight: 600;

    & span{
      font-weight: 200;
    }

    &--id{
      width: 40%;
    }
    &--ability{
      width: 40%;
      text-transform: capitalize;
    }
    &--hiddenAbility{
      width: 40%;
      text-transform: capitalize;
    }
    &--height{
      width: 40%;
    }
    &--type{
      width: 40%;
      text-transform: capitalize;
    }
    &--weight{
      width: 40%;
    }
  }

  &__picture{
    width: 80%;
  }

  &__title{
    padding: 10px 0;
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    text-transform: capitalize;
  }
}