*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  @extend body;
}

header, main, footer, article, section, aside, nav, div, figure{
  @extend body;
}

p{
  @extend body;
}

span{
  @extend body;
}

a{
  @extend body;
}

form, input, label, button{
  @extend body;
}

img{
  @extend body;
}