@media screen and (min-width:600px){
  .card{
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: auto auto;

    &__box{
      align-content: center;

      &--picture{
        grid-column: 2;
      }
      &--info{
        grid-column: 3;
      }
    }

    &__picture{
      width: 100%;
    }
    
    &__title{
      grid-column: 1 / span 4;
    }
  }
}